<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Panini Page Title Variable: Can be customized on
    page's frontmatter -->
    <title>{{ title }} - Genjutsu</title>

    <!--defer-->
    <link rel="stylesheet" href="{{root}}styles/app.css">
    <!--enddefer-->

    <link href="{{root}}images/favicon.png" rel="icon" type="image/png">
  </head>
  <body>
    <%_ if (framework == 'bootstrap-4') { _%>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          {{> body }} <!-- app/pages/**/*.html -->
        </div>
      </div>
    </div>
    <%_ } _%>
    <%_ if (framework == 'bourbon') { _%>
    {{> body }} <!-- app/pages/**/*.html -->
    <%_ } _%>
    <%_ if (framework == 'bulma') { _%>
    {{> body }} <!-- app/pages/**/*.html -->
    <%_ } _%>
    <%_ if (framework == 'foundation') { _%>
    {{> body }} <!-- app/pages/**/*.html -->
    <%_ } _%>
    <!--defer-->
    <script type="text/javascript" src="{{root}}scripts/app.js"></script>
    <!--enddefer-->
  </body>
</html>
